.container
{
    position:relative;
    background-color: rgb(139, 67, 67);  
    height: calc(100vh - 100px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .item
    {
        display: flex;
        justify-content: start;
        align-items: center;
        .card
        {
            flex:1;
            padding: 0 20px;
        }
        .title
        {
            font-size: 18px;
            color: #b7903c;
        }
        .text
        {
            color: lightgray;
        }
        .motto
        {
            color: rgb(211,211,211);
        }
    }
}